.fadeIn {
    animation: fadeIn 2s ease-in forwards;
}
    @keyframes fadeIn { 
        from { opacity: 0;}
        to {opacity: 1;}
    }
.fadeOut {
    animation: fadeOut 2s ease-out forwards;
}
@keyframes fadeOut {
    from {  opacity: 0;}
    to { opacity: 1;}
}
    .box {
        float:  left;
        margin: 10px;
        padding: 10px;
        width: 200px;
        height: 200px;
        background-color: blue;
    }
.move {
    animation: slideIn 1s ease-out forwards;
}
@keyframes slidein {
    from{
        transform: translateX(-200) translateY(0);
        opacity: 0;
    }
}